

<body>
    {% extends 'App/base.html' %}
    {% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'App/home.css' %}">

    <section id="main-container">

        <section class="section-top-row" id="portfolio-growth">
            {% if logged_in %}
                <h1>Portfolio Growth</h1>
                <div id="slider">
                    {% for item in biggest_portfolio_changes_1 %}
                    <div class="item-and-growth-container">
                        <div class="item">
                            <h2>{{item.item_name}}</h2>
                            <h3><a href="{% url 'item' item.item_id %}">{{item.item_id}}</a></h3>

                            <img src="{% static item.image_path %}" alt="{{item.image_path}}">
                        </div>

                        <div class="growth">
                            {% if item.change >= 0 %}
                                <p style="color: green;">+ {{item.change}}</p>
                            {% else %}
                                <p style="color:red">{{item.change}}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor%}
                </div>
            {% endif %}
        </section>

        <section class="section-top-row" id="about-section">
            {% if logged_in %}
                <h1>Welcome Back {{username}}</h1>
            {% else %}
                <h1>Brick Economy</h1>
            {% endif %}
            <div id="search-container">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="minifig_id">
                    <button type="submit">Search</button>
                </form>                 
            </div>

            <div id="about-boxes-container">
                <div class="about-box" id="create-your-portfolio">
                    <a href="{% url 'portfolio' %}">
                    <h2>Create Your Portfolio</h2>
                    <img src="{% static 'App/styling-images/portfolio-sample.jpg'%}" alt="">
                    </a>
                </div>

                <div class="about-box" id="view-trends">
                    <a href="{% url 'trending' %}">
                        <h2>View the Latest Trends</h2>
                        <img src="{% static 'App/styling-images/portfolio-graph.jpg'%}" alt="">
                    </a>
                </div>

                <div class="about-box" id="view-item-info">
                    <a href="{% url 'item' random_item_id %}">
                        <h2>View Item Info</h2>
                    </a>
                </div>

                <div class="about-box" id="none">
                    <h2>-----</h2>
                </div>
            </div>

        </section>

        <section class="section-top-row" id="ad-panel">

        </section>

        <section id="recently-viewed">
            <h1>Recently Viewed</h1>
            <div id="item-flex-container">
                {% for item in recently_viewed %}
                <div class="item">
                    <div class="item-header">
                        <h2>{{item.item_name}}</h2>
                        <h3><a href="{% url 'item' item.item_id %}">{{item.item_id}}</a></h3>
                    </div>

                    <div class="item-body">
                        <img src="{% static item.image_path %}" alt="{{item.image_path}}">
                    </div>
                </div>
                {% endfor %}
            </div>

            
        </section>

        <section id="popular-items" class="bottom-row-sections">
            <h1>Most Viewed</h1>
        </section>

        <section id="trending" class="bottom-row-sections">
            <h1>Trending</h1>
            {% for item in trending %}
                <p>{{item}}</p>
            {% endfor %}
        </section>

    </section>


    {% endblock %}

</body>
