{% extends 'App/base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'App/home.css' %}">

<h1>Brick Economy</h1>
<h2>Created by Logan Baxter</h2>

<section id="container-layer1">

    <section id="biggest-trends">
        {% for item in trending %}
            <div class="main-item-container">
            {% include 'App/item_container.html' %}
            </div>
        {% endfor %}
    </section>

    <section id="about-panel">

        <div id="create-portfolio" class="about-box">
            <h3>Build your own portfolio</h3>
        </div>

        <div id="view-trends" class="about-box">
            <h3>View the latest price trends</h3>
        </div>

        <div id="price-data" class="about-box">
            <h3>View lots of pricing data</h3>
        </div>

        <div id="explore-database" class="about-box">
            <h3>Explore a database with over 33,000 items</h3>
        </div>
    </section>

    <section id="ads">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolorem earum dignissimos distinctio, possimus reiciendis porro ea eius repudiandae nihil deleniti itaque autem unde sint veritatis sit et numquam repellat.</p>
    </section>

</section>

<section id="recently-viewed">
    {% for item in recently_viewed %}
        {% include 'App/item_container.html' %}
    {% endfor %}
</section>

{% endblock %}
