<!DOCTYPE html>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<head>
    {% extends 'App/base.html' %}
    <title>Document</title>
</head>
<body>
    {% block content %}
    <section id="tophalf-container">
        <section id="minifig-profile">
            <h1 id="minifig-name">{{ general_info.1 }}</h1>
            <p id="minifig-id">{{ general_info.item_id }}</p>
            <img id="minifig-image" src="{{ general_info.thumbnail_url }}" alt="{{minifig_id}}">
            <p>Year Released: {{ general_info.year_released }}</p>  
        </section>

        <section id="general-info">

            <div id="test" class="general-info-tabs">
                <h1>OWNERSHIP</h1>
                <p>Own This: No</p>
                <p>Owned by: 94</p>
                <p>Ownership ^14%</p>
            </div>

            <div id="info-tab" class="general-info-tabs">
                <h1>DETAILS</h1>
                <p>ID: {{ general_info.item_id }}</p>
                <p>Pieces: {{ parts_info|length }}</p>
                <p>Sets appears in: {{ sets_info|length }}</p>
                <p>Year released: {{ general_info.year_released }}</p>
            </div>

            <div id="current-price-tab" class="general-info-tabs">
                <h1>PRICES</h1>
                <p>avg price:</p> <p style="color:{{price_changes.avg_price}}">£{{ prices.0.1 }}</p>
                <p>min price:</p> <p style="color:{{price_changes.min_price}}">£{{ prices.0.2 }}</p>
                <p>max price:</p> <p style="color:{{price_changes.max_price}}">£{{ prices.0.3 }}</p>
            </div>

        </section>
    </section>

    <section id="price-trends">

        <div id="chart-options">
            <h1>Chart Options</h1>
            <form action="" method="post">
                <select name="currency" id="currency" onchange="this.form.submit()">
                    <option value="GBP">GBP (£)</option>
                    <option value="USD">USD ($)</option>
                </select>

                <input type="submit" value="GO!">
            </form>
        </div>

        <div id="price-date-graph"></div>    
    </section>
    
    {{ dates|json_script:"dates" }}
    <script>
        var yArray = {{avg_prices}};
        var xArray = JSON.parse(document.getElementById('dates').textContent);
    
        console.log(xArray)
        console.log(yArray)
        
        // Define Data
        var data = [{
          x: xArray,
          y: yArray,
          mode:"dots"
        }];

        // Define Layout 
        var layout = {
          xaxis: {range: [0, 10], title: "Date", autorange: true,},
          yaxis: {range: [Math.min(yArray), Math.max(yArray)], title: "Price (£)"},  
          title: "PRICES"
        };
        
        // Display using Plotly
        Plotly.newPlot("price-date-graph", data, layout);
    </script>
    


    {% endblock %}
</body>
</html>