{% extends 'App/template_blocks/base.html' %}
{% load static %}
{% load tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'App/item.css' %}">

<section id="layer1" class="layers">

    <section id="main-item-container">
        {% include 'App/template_blocks/item_container.html' %}
    </section>

    <section id="info-overview">
        <div class="info-block">
            <h3>Prices & Quantity</h3>
            
            <div id="metric-change-container">
                <div class="tool-tip">
                    <span class="tool-tip-icon">?</span>
                    <p class="tool-tip-text">% change since oldest record</p>
                </div>
                <p id="metric-change"> {{metric}} Change (%) {{ item.price_change|postivie_or_negative_sign }} </p>
            </div>
            <p>Total Quantity Available {{item.total_quantity}}</p>
            <p>Avg Price {{item.avg_price}}</p>
            <p>Min Price {{item.min_price}}</p>
            <p>Max Price {{item.max_price}}</p>

        </div>

        <div class="info-block">
            <h3>Sets and Pieces</h3>
            <p>6 pieces</p>
            <p>1 set</p>
        </div>

        <div class="info-block">
            <h3>General Info</h3>
            <p>Owned By : {{total_owners}}</p>
            <p>Watched By : {{total_watchers}}</p>
        </div>
    </section>

</section>

<section id="layer2" class="layers">

    <div id="chart-form-container">
        <form action="{% url 'item' item.item_id %}" method="POST">
            {% csrf_token %}
            <label for="graph-data-form">Graph Data</label>
            <select onchange="this.form.submit()" name="graph-metric">
                {% for graph_option in graph_options %}
                    <option value="{{graph_option.value}}">{{graph_option.text}}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <section id="chart-container">
        {% include 'App/template_blocks/item_chart.html' %}
    </section>

    <section id="in-collections-forms-container">

        <section id="in-collections">
            {% if in_portfolio|length != 0%}
                <p>In Portfolio | {% for condition in in_portfolio %} {{condition.condition}} : {{condition.count}} | {% endfor %}</p>
            {% else %}
                <p>In Portfolio : No</p>
            {% endif %}
            <p>In Watchlist : {{in_watchlist}}</p>
        </section>

        <section id="form-container">
            <h3>Add to Your Collection</h3>
            <form action="{% url 'add_to_user_items' item.item_id %}" method="post">
                {% csrf_token %}
                <div id="add-to-portfolio">
                    <div class="label-input-container">
                        <label for="condition">Condition</label>
                        <select name="condition">
                            <option value="N">New</option>
                            <option value="U">Used</option>
                        </select>
                    </div>

                    <div class="label-input-container">
                        <label for="quantity">Quantity</label>
                        <input min="1" value="1" type="number" name="quantity">
                    </div>

                    <button name="view-type" type="submit" value="portfolio">Add to Portfolio!</button>
            
                </div>
                <div id="add-to-watchlist">
                    <button name="view-type" type="submit" value="watchlist">Add to Watchlist!</button>
                </div>

                <p id="error-msg">{{ add_to_user_items_error_msg }}</p>
            </form>
        </section>

    </section>

</section>

{% endblock %}
