{% extends 'App/template_blocks/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'App/item.css' %}">

<section id="layer1" class="layers">

    <section id="main-item-container">
        {% include 'App/template_blocks/item_container.html' %}
    </section>

    <section id="info-overview">
        <div class="info-block">
            <p>Price Change {{ item.price_change }} </p>
            <p>Owned by 232</p>
        </div>

        <div class="info-block">
            <p>6 pieces</p>
            <p>1 set</p>
        </div>

        <div class="info-block">
            <p>Year Released : {{item.year_released}}</p>
        </div>
    </section>

</section>

<section id="layer2" class="layers">

    <div id="chart-form-container">
        <form action="{% url 'item' item.item_id %}" method="POST">
            {% csrf_token %}
            <label for="graph-data-form">Graph Data</label>
            <select onchange="this.form.submit()" name="graph-metric">
                {% for graph_option in graph_options %}
                    <option value="{{graph_option.value}}">{{graph_option.text}}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <section id="chart-container">
        {% include 'App/template_blocks/item_chart.html' %}
    </section>

    <section id="in-collections-forms-container">

        <section id="in-collections">
            <p>In Portfolio : *7 (N), *2 (U)</p>
            <p>In Watchlist : No</p>
        </section>

        <section id="form-container">
            <h3>Add to Your Collection</h3>
            <form action="{% url 'add_to_user_items' item.item_id %}" method="post">
                {% csrf_token %}
                <div id="add-to-portfolio">
                    <div class="label-input-container">
                        <label for="condition">Condition</label>
                        <select name="condition">
                            <option value="N">New</option>
                            <option value="U">Used</option>
                        </select>
                    </div>

                    <div class="label-input-container">
                        <label for="quantity">Quantity</label>
                        <input min="1" placeholder="1" type="number" name="quantity">
                    </div>

                    <button name="view-type" type="submit" value="portfolio">Add to Portfolio!</button>
            
                </div>
                <div id="add-to-watchlist">
                    <button name="view-type" type="submit" value="watchlist">Add to Watchlist!</button>
                </div>

                <p id="error-msg">{{ add_to_user_items_error_msg }}</p>
            </form>
        </section>

    </section>

</section>

{% endblock %}
