<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'App/styles.css' %}">
</head>
<body>
    <h1>MINIFIG PAGE</h1>
    <p>{{ minifig_id }}</p>



    

    <img src="{{ general_info.thumbnail_url }}" alt="{{minifig_id}}">

    <p>Name: {{ general_info.name }}</p>
    <p>Year Released: {{ general_info.year_released }}</p>
    
    <h1>PRICES</h1>

    <table>
        <tr>
            <th>average price: </th>
            <th>min price: </th>
            <th>max price: </th>
            <th>total quantity available: </th>
        </tr>
        <tr>
            <td>{{ prices.0.0 }}</td>
            <td>{{ prices.0.1 }}</td>
            <td>{{ prices.0.2 }}</td>
            <td>{{ prices.0.3 }}</td>
        </tr>
    </table>

    <h1>SUPERSETS</h1>

    <table>
        <tr>
            <th>Set Image</th>
            <th>Set Name</th>
            <th>Set ID</th>
        </tr>
        {% for set in sets_info %}
        <tr>
            <td><img src="{{ set.thumbnail_url }}" alt="thumbnail"></td>
            <td>{{ set.name }}</td>
            <td><a href="https://www.bricklink.com/v2/catalog/catalogitem.page?S={{ set.item.no }}">{{ set.no }}</a></td>
        </tr>
        {% endfor %}
    </table>

    <h1>SUBSETS</h1>
    <table>
        <tr>
            <th>Piece Image</th>
            <th>Piece Name</th>
            <th>Piece ID</th>
        </tr>
        {% for part in parts_info %}
        <tr>
            <td><img src="{{part.thumbnail_url}}" alt="thumbnail"></td>
            <td>{{ part.name }}</td>
            <td><a target="_blank" href="https://www.bricklink.com/v2/catalog/catalogitem.page?P={{part.no}}">{{part.no}}</a></td>
            <!-- <td>{{ part.quantity }}</td> -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>