{% extends 'App/base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'App/portfolio.css' %}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{{portfolio_items}}
{% if logged_in %}
<section id="left-side-column">

    <section id="portfolio-stats">
        <h1 class="header-container">Portfolio Statistics</h1>
        <div class="stat-container">
            <h2>Prices:</h2>
            <p>Total Avg Price £623.94</p>
            <p>Total Min Price £803.30</p>
            <p>Total Max Price £1093.34</p>
            <p>Total Quantity 95</p>
        </div>

        <div class="stat-container">
            <h2>Items:</h2>
            <p>Unique items: 83</p>
            <p>Most expensive item - sw0001a</p>
            <p>Highest Quantity - sw0001a (42)</p>
            <p>Sets: 13</p>
            <p>{{portfolio_items}}</p>
            <p>Minifigures: 70</p>
            <p>New : 88 | Used : 7</p>
        </div>
    </section>

    <section id="add-to-portfolio-container">
        <h1 class="header-container">Add to Portfolio</h1>
        <form action="{% url 'portfolio_POST' next_page %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="add-item-form">

            <div class="input-container">
                <label for="item_id">Item ID:</label>
                <input type="text" name="item_id" id="item_ids">
            </div>

            <div class="input-container"> 
                <label for="condition">Condition:</label>
                <select name="condition">
                    <option value="N">New</option>
                    <option value="U">Used</option>
                </select>
            </div>

            <div class="input-container">
                <label for="quantity">Quantity:</label>
                <input min="1" value="1" type="number" name="quantity">
            </div>
            
            <div class="input-container">
                <input type="submit" value="Add to Portfolio">
            </div>
        </form>
    </section>


    <section id="porfolio-item-sort">
        <h1 class="header-container">Sort</h1>
        <form action="{% url 'portfolio_POST' current_page %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="sort-form">
            <select name="sort_field">
                <option value="item_name">Name</option>
                <option value="condition">Condition</option>
            </select>

            <select name="field_order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
            </select>

            <input type="submit" value="Sort">
        </form>
    </section>
 
</section>

{% endif %}

<section id="right-side-column">

    {% if logged_in %}
    <section id="portfolio-items-header">
        <h1>{{username}}'s Collection:</h1>
        {% if "trends" not in request.GET.view %}
        <div id="page-form-container">
            <form id="page-form" action="{% url 'portfolio' %}" method="get">
                <input type="submit" name="page" value="{{back_page}}">
                <input type="submit" name="page" value="{{next_page}}">
            </form>
        </div>
        {% endif %}

        <div id="view-options-container">
            <form action="{% url 'portfolio' %}" method="get">

                <input type="submit" name="view" value="items">
                <input type="submit" name="view" value="trends">
            </form>
        </div>
    </section>

    {% else %}
        <section id="login-for-portfolio">
            <h1>Login or join</h1>
            <a href="{% url 'login' %}">login</a>
            <a href="{% url 'join' %}">join</a>
        </section>
    {% endif %}

    {% if "items" in request.GET.view %}
    <section id="portfolio-items-container">
        {% for item in portfolio_items %}
            <div class="item">
                <div class="item-header">
                    <h2>{{item.item_name}} </h2>
                    <h3><a href="{% url 'item' item.item_id %}">{{item.item_id}}</a></h3>
                </div>

                <div class="item-body">
                    <div class="condition-quantity-container">
                        <h4>Condition: {{item.condition}} | Owned: {{item.quantity}}</h4>
                    </div>
                    <img src="{% static item.image_path %}" alt="{{item.image_path}}">
                    <div class="delete-button-container">
                        <form action="{% url 'portfolio_POST' next_page %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form-type" value="delete-item-form">
                            <input min="1" value="1" type="number" name="delete_quantity">
                            <button type="submit" name="item_to_delete" value="{{item.item_id}},{{item.condition}}">-</button>
                        </form>
                    </div>
                </div>

                <div class="price-details">
                    <table>
                        <tr>
                            <th>Avg</th>
                            <th>Min</th>
                            <th>Max</th>
                            <th>Qty</th>
                        </tr>
                        <tr>
                            <td>£4.56</td>
                            <td>£2.03</td>
                            <td>£15.89</td>
                            <td>112</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
    </section>
    {% else %}
    <section id="portfolio-graph">

        {{ portfolio_trend_dates|json_script:"portfolio_trend_dates" }}
        <script>
            var yArray = {{portfolio_trend_prices}};
            var xArray = JSON.parse(document.getElementById('portfolio_trend_dates').textContent);
        
            console.log(xArray)
            console.log(yArray)
            
            // Define Data
            var data = [{
            x: xArray,
            y: yArray,
            mode:"dots"
            }];

            // Define Layout 
            var layout = {
            xaxis: {range: [0, 10], title: "Date", autorange: true,},
            yaxis: {range: [Math.min(yArray), Math.max(yArray)], title: "Price (£)"},  
            title: "PRICE TRENDS"
            };
            
            // Display using Plotly
            Plotly.newPlot("portfolio-graph", data, layout);
        </script>
    </section>
    {% endif %}

</section>

{% endblock %}