{% extends 'App/base.html' %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'App/search.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    {% load tags %}

    <p id="important-info">Only theme with data <a href="http://127.0.0.1:8000/search/all/Star_Wars/">Star Wars</a></p>

    {% if sub_themes|length > 0 %}

    <section id="search-themes-container">


    <section id="all-themes-container">
        {% for theme in sub_themes %}
        <div class="theme-container">
            <form action="{% url 'search' theme_path %}{{theme}}/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="form-type" value="theme-url">
                <button type="submit">{{theme|replace_underscore}}</button>
            </form>
        </div>
        {% endfor %}
    </section>

    </section>
    
    {% endif %}

    {% if theme_items|length > 0 %}

    <section id="theme-items-container">
        <h2>Theme Items</h2>
        <form id="item-pages" action="{% url 'search' theme_path %}" method="POST">
            {% csrf_token %}
            {% for page_button in page_buttons %}
                {% if page_button == current_page %}
                    <input style="background-color: green;" type="submit" name="page" value="{{page_button}}">
                {% else %}
                    <input type="submit" name="page" value="{{page_button}}">
                {% endif%}
            {% endfor %}
        </form>

        <div id="theme-items">
        {% for item in theme_items %}
            <div class="main-item-container">
            {% include 'App/item_container.html' %}
            </div>
        {% endfor %}
        </div>
    </section>

    {% else %}
    <section id="info">
        <div id="trending-themes">
            <div id="biggest-winners" class="trending-themes-container">
                <h3>Biggest Winners</h3>
                <table>
                    {% for theme in biggest_theme_trends.biggest_winners %}
                    <tr>
                        <td class="theme-path">{{theme.theme_path|replace_space_substitute}}</td>
                        <td class="change">£{{theme.change|absolute_value}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div id="biggest-losers" class="trending-themes-container">
                <h3>Biggest Losers</h3>
                <table>
                {% for theme in biggest_theme_trends.biggest_losers %}
                <tr>
                    <td class="theme-path">{{theme.theme_path|replace_space_substitute}}</td>
                    <td class="change">£{{theme.change|absolute_value}}</td>
                </tr>
                {% endfor %}
                </table>
            </div>             
        </div>
    </section>
    {% endif %}

{% endblock %}

