{% extends 'App/base.html' %}

{% block content %}

    <h1>THEME!!!</h1>

    <section id="sub-themes">
        {% for sub_theme in sub_themes %}
        <div class="theme-container">
            <p><a href="{% url 'theme' header  %}/{{sub_theme.0}}">{{sub_theme.0}}</a></p>
            <img src="{{sub_theme.1}}" alt="{{sub_theme.0}}_url">
        </div>
        {% endfor %}
    </section>

    <p><b>{{theme_items|length}} items in this theme</b></p>

    {% for item in theme_items %}
        <p>id {{item.0}}</p>
        <p>type {{item.1}}</p><br><br>
        {% endfor %}

{% endblock %}
