{% extends 'App/base.html' %}

{% block content %}

    <section id="winners-losers">
        <!-- <div id="losers">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price Change</th>
                </tr>
                {% for minifig in losers %}
                    <tr>
                        <td>{{minifig.1}}</td>
                        <td>{{minifig.0}}</td>
                        <td>{{minifig.2}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div> -->

        <div id="winners">
        {% for minifig in winners %}
            <div class="trending-minifig">
                {{minifig.change}}
                <div class="image-container">
                    <img id="minifig-image" src="{{minifig.img_url}}" alt="">
                </div>
            </div>
        {% endfor %}
        </div>
    </section>

{% endblock%}