{% extends 'App/base.html' %}

{% block content %}
{% load static %}
{% load tags %}
<link rel="stylesheet" href="{% static 'App/user_items.css' %}">

<h1>{{view}}</h1>

<section id="header">
    <div id="tool-bar-header" class="headers">
        <h2>Tool Bar</h2>
    </div>
    
    <div id="items-header" class="headers">
        {% if request.GET.view == "items" or request.path == "/watchlist/" %}
        <form id="page-buttons-form" action="{% url view %}">
            {% for page_button in num_pages %}
                <input name="page" type="submit" value="{{page_button}}">
            {% endfor %}
        </form>

        <div id="dropdown-forms">
            <form id="sort-form" action="{% url view %}" method="GET">
                <div class="input-label-container">
                    <label for="sort-field">Sort</label>
                    <select onchange="this.form.submit()" name="sort-field">
                        {% for sort in sort_options %}
                            <option value="{{sort.value}}">{{sort.text}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>

            <form action="{% url view %}" method="GET">
                <label for="graph-data-form">Graph Data</label>
                <select onchange="this.form.submit()" name="graph-metric">
                    {% for graph_option in graph_options %}
                        <option value="{{graph_option.value}}">{{graph_option.text}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        {% endif %}
    </div>
    
</section>

<section id="main-container">

    <section id="tool-bar">
        <div id="stats">

            <p>Total of {{ total_items }} items in {{ view }}. Total £{{total_price}}</p>

            {% for theme in themes %}
                <p>{{theme.theme_path | count_theme_indent }} ({{theme.count}}) : £{{theme.total_price}}</p>
            {% endfor %}
            <div id="theme-count-container">
            
            </div>
        </div>
    </section>

    {% if request.GET.view == "items" or request.path == "/watchlist/" %}
    <section id="items-container">
        <div id="items">
        {% for item in items %}

        <div class="item-and-side-bar-container">
            {% if request.path == "/portfolio/" %}
            <div class="portfolio-items-options">
                <form action="{% url 'portfolio_POST' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form-type" value="remove-or-add-portfolio-item">
                    <input type="hidden" name="condition" value="{{item.condition}}">
                    <input type="hidden" name="item_id" value="{{item.item_id}}">
                    <input name="remove_or_add" type="submit" value="+">
                    <input name="remove_or_add" type="submit" value="-">
                    <input min="1" type="number" name="quantity" value="1">
                </form>
            </div>
            {% endif %}

            <div class="item-container">
                <div class="item-img-and-title">
                    <h3>{{item.item_name}}</h3>
                    <h4>{{item.item_id}}</h4>
                    <img src="{% static item.img_path  %}" alt="{{item.item_id}}">
                    
                    <div class="price-info">
                        <table>
                            <tr>
                                <th>Avg</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Qty</th>
                            </tr>

                            <tr>
                                <td>{{item.avg_price}}</td>
                                <td>{{item.min_price}}</td>
                                <td>{{item.max_price}}</td>
                                <td>{{item.total_quantity}}</td>
                            </tr>
                        </table>
                    </div> 

                </div>

                <div class="price-trend">
                    <canvas class="item_canvas" id="chart_{{item.item_id}}"></canvas>

                    {% with item.item_id|add:"_prices" as prices %}
                        {{ item.prices|json_script:prices }}


                    {% with item.item_id|add:"_dates" as dates %}
                        {{ item.dates|json_script:dates }}

                    <script>

                        var prices = JSON.parse(document.getElementById('{{item.item_id}}_prices').textContent);
                        var dates = JSON.parse(document.getElementById('{{item.item_id}}_dates').textContent);

                        var data = [];
                        for (let i = 0; i < prices.length; i++) {
                            data.push({y:prices[i], x:dates[i]});
                        }
                        
                        new Chart(`chart_{{item.item_id}}`, {
                            type: "line",
                            data: {
                                labels: dates,
                                datasets: [{
                                fill: false,
                                backgroundColor: "orangered",
                                borderColor: "orangered",
                                data: data
                                }]
                            },
                            options: {
                                legend: {display: false},
                                scales: {
                                    x : {
                                        type:"time",
                                        time: {unit:"day"}
                                    }
                                }
                            }
                            });
                    </script>
                </div>
            </div>
            {% endwith %}
            {% endwith %}
            </div>
            {% endfor %}
        </div>
    </section>

    {% else %}
    <section id="items-container">
        <canvas id="trends-canvas"></canvas>

        {{ trends_graph_dates|json_script:"dates" }}
        {{ trends_graph_prices|json_script:"prices" }}

        <script>

            var prices = JSON.parse(document.getElementById('prices').textContent);
            var dates = JSON.parse(document.getElementById('dates').textContent);
            var prices1 = [1405, 1402,1408,1405,1417,1415,]

            var data = [];
            for (let i = 0; i < prices.length; i++) {
                data.push({y:prices[i], x:dates[i]});
            }
            
            new Chart("trends-canvas", {
                type: "line",
                data: {
                    labels: dates,
                    datasets: [{
                    fill: false,
                    backgroundColor: "orangered",
                    borderColor: "orangered",
                    data: data
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                        x : {
                            type:"time",
                            time: {unit:"day"}
                        }
                    }
                }
                });
        </script>
    </section>
    {% endif %}

</section>

{% endblock%}