<div class="price-trend">
    <canvas class="item_canvas" id="{{item.chart_id}}"></canvas>

    {% with item.prices_id as prices %}
        {{ item.prices|json_script:prices }}


    {% with item.dates_id as dates %}
        {{ item.dates|json_script:dates }}

    {% endwith %}
    {% endwith %}

    <script>
        var prices = JSON.parse(document.getElementById('{{item.prices_id}}').textContent);
        var dates = JSON.parse(document.getElementById('{{item.dates_id}}').textContent);

        var data = [];
        for (let i = 0; i < prices.length; i++) {
            data.push({y:prices[i], x:dates[i]});
        }
        
        new Chart(`{{item.chart_id}}`, {
            type: "line",
            data: {
                labels: dates,
                datasets: [{
                fill: false,
                backgroundColor: "orangered",
                borderColor: "orangered",
                data: data
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    x : {
                        type:"time",
                        time: {unit:"day"}
                    }
                }
            }
            });
    </script>
</div>