{% block content %}
{% load static %}
{% load tags %}
<link rel="stylesheet" href="{% static 'App/user_items.css' %}">

<h1>{{view|capitalise}}</h1>

<section id="header">
    <div id="tool-bar-header" class="headers">
        <h2>Tool Bar</h2>
    </div>
    
    <div id="items-header" class="headers">
        {% include 'App/template_blocks/item_filters_and_sorts.html' with view='view_POST' sub_view=view %}
    </div>
    
</section>

<section id="main-container">

    <section id="tool-bar">
        <div class="tool-bar-div" id="stats">
            <h3>Stats</h3>
            {% if request.path == "/portfolio/" %}
                <p>Total of {{ total_items }} items in your portfolio.</p>
            {% endif %}

            <p>Total of {{ total_unique_items }} unique items in your {{ view }}.</p>

            {% if metric_total.metric != 'Total Quantity'%}
                <p>Total {{metric_total.metric}} £{{metric_total.total | two_decimals}}</p>
            {% else %}
                <p>{{metric_total.metric}} {{metric_total.total | remove_decimals}}</p>
            {% endif %}
        </div>

        <div class="tool-bar-div" id="themes-container">
            <h3>Themes - <span id="themes-header-metric">({{metric_total.metric}})</span></h3>
            {% for theme in themes %}
                {% if metric_total.metric != 'Total Quantity' %}
                    <p>{{theme.theme_path | count_theme_indent }} ({{theme.count}}) : £{{theme.metric_total | two_decimals}}</p>
                {% else %}
                    <p>{{theme.theme_path | count_theme_indent }} ({{theme.count}}) : {{theme.metric_total | remove_decimals}}</p>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    {% if request.GET.view == "items" or request.path == "/watchlist/" %}
    <section id="items-container">
        <div id="items">
        {% for item in items %}

        <div class="item-and-side-bar-container">
            {% if request.path == "/portfolio/" %}
            <div class="items-options">
                <div class="view-owned">
                    <form action="{% url 'portfolio' %}?item={{item.item_id}}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="entries_button">
                        <input type="hidden" name="item_id" value="{{item.item_id}}">
                        <button type="submit">Entries</button>
                    </form>
                </div>
                <div class="qty-condition-container">       
                    <p>{{item.owned_quantity}}</p>
                    <p>({{item.condition}})</p>
                </div>

                <form action="{% url 'view_POST' view %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form-type" value="remove-or-add-portfolio-item">
                    <input type="hidden" name="condition" value="{{item.condition}}">
                    <input type="hidden" name="item_id" value="{{item.item_id}}">
                    
                    <div class="label-input-container">
                        <input min="1" type="number" name="quantity" value="1">
                    </div>
                    
                    <input class="add-item" name="remove_or_add" type="submit" value="+">
                    <input class="remove-item" name="remove_or_add" type="submit" value="-">
                </form>
            </div>
            {% else %}
            <div class="items-options watchlist-options">
                <form action="{% url 'view_POST' view %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form-type" value="remove-watchlist-item">
                    <input type="hidden" name="item_id" value="{{item.item_id}}">
                    <button type="submit">-</button>
                </form>
            </div>
            {% endif %}

            {% include 'App/template_blocks/item_container.html' %}

            </div>
            {% endfor %}
        </div>       
    </section>

    {% else %}
    <section id="items-container">
        {% if item_entries != None and item_entries|length != 0 %}
            <div id="entry-item-container">
                <div id="item-profile">
                    {% include 'App/template_blocks/item_container.html' with item=item_info show_graph=False show_year_released_availability=True %}
                </div>

                <div id="chart-container">
                    <div id="header-and-graph-container">
                        <h3>{{graph_metric|capitalise_split_words}} Trends</h3>
                        {% include 'App/template_blocks/item_chart.html' with item=item_info %}
                    </div>
                </div>

                <div id="metric-change-container">
                    <h3>Trends</h3>
                    <p>{{graph_metric|capitalise_split_words}} Change (%) {{item_info.price_change|postivie_or_negative_sign}}</p>
                </div>
            </div>
            <div id="entries-items-container">
                <h3>Entries</h3>
                <div id="entries-items-loop-container">
                {% for item in item_entries %}
                    <div class="entry-item-container">
                        <div class="entry-counter">
                            <p>{{item_entries|index:item}}</p>
                        </div>
                        
                        <div class="bought-data entry-item-div">
                            <p>Date Aquired : {{item.date_added|none_to_hyphens}}</p>
                            <p>Bought For : £{{item.bought_for}}</p>
                        </div>

                        <div class="sold-data entry-item-div">
                            <p>Date Sold : {{item.date_sold|none_to_hyphens}}</p>
                            <p>Sold For : £{{item.sold_for|none_to_hyphens}}</p>
                        </div>

                        <div class="notes entry-item-div">
                            <p>Notes : {{item.notes|none_to_hyphens}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>No items</p>
        {% endif %}
    </section>
    {% endif %}

</section>

{% endblock%}