{% block content %}
{% load static %}
{% load tags %}
<link rel="stylesheet" href="{% static 'App/user_items.css' %}">

<h1>{{view|capitalise}}</h1>

<section id="header">
    <div id="tool-bar-header" class="headers">
        <h2>Tool Bar</h2>
    </div>
    
    <div id="items-header" class="headers">
        {% include 'App/template_blocks/item_filters_and_sorts.html' with view='view_POST' sub_view=view item_id=item_id %}
    </div>
    
</section>

<section id="main-container">

    <section id="tool-bar">
            {% if request.GET.item != None%}
                <div class="tool-bar-div" id="stats">
                    <h3>Stats</h3>
                    <p>Total bought for price : {{total_bought_price}}</p>
                    <p>Total sold for price : {{total_sold_price|none_to_hyphens}}</p>
                </div>
            {% else %}

            <div class="tool-bar-div" id="stats">
                <h3>Stats</h3>

                {% if request.path == "/portfolio/" %}
                    <p>Total of {{ total_items }} items in your portfolio.</p>
                {% endif %}

                <p>Total of {{ total_unique_items }} unique items in your {{ view }}.</p>

                {% if metric_total.metric != 'Total Quantity'%}
                    <p>Total {{metric_total.metric}} £{{metric_total.total | two_decimals}}</p>
                {% else %}
                    <p>{{metric_total.metric}} {{metric_total.total | remove_decimals}}</p>
                {% endif %}
            </div>

            <div class="tool-bar-div" id="themes-container">
                <h3>Themes - <span id="themes-header-metric">({{metric_total.metric}})</span></h3>
                {% for theme in themes %}
                    {% if metric_total.metric != 'Total Quantity' %}
                        <p>{{theme.theme_path | count_theme_indent }} ({{theme.count}}) : £{{theme.metric_total | two_decimals}}</p>
                    {% else %}
                        <p>{{theme.theme_path | count_theme_indent }} ({{theme.count}}) : {{theme.metric_total | remove_decimals}}</p>
                    {% endif %}
                {% endfor %}
            </div>

            {% endif %}
    </section>
    {% if request.GET.item == None %}
    <section id="items-container">
        <div id="items">
        {% for item in items %}

        <div class="item-and-side-bar-container">
            {% if request.path == "/portfolio/" %}
            <div class="items-options">
                <div class="qty-condition-container">       
                    <p>{{item.owned_quantity}}</p>
                    <p>({{item.condition}})</p>
                </div>

                <div class="view-owned">
                    <form action="{% url 'portfolio' %}?item={{item.item_id}}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="form-type" value="entries_button">
                        <input type="hidden" name="item_id" value="{{item.item_id}}">
                        <button type="submit">Entries</button>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="items-options watchlist-options">
                <form action="{% url 'view_POST' view %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form-type" value="remove-watchlist-item">
                    <input type="hidden" name="item_id" value="{{item.item_id}}">
                    <button type="submit">-</button>
                </form>
            </div>
            {% endif %}

            {% include 'App/template_blocks/item_container.html' %}

            </div>
            {% endfor %}
        </div>       
    </section>

    {% else %}
    <section id="items-container">
        {% if item_entries != None and item_entries|length != 0 %}
            <div id="entry-item-container">
                <div id="item-profile">
                    {% include 'App/template_blocks/item_container.html' with item=item_info show_graph=False show_year_released_availability=True %}
                </div>

                <div id="chart-container">
                    <div id="header-and-graph-container">
                        <h3>{{graph_metric|capitalise_split_words}} Trends</h3>
                        {% include 'App/template_blocks/item_chart.html' with item=item_info %}
                    </div>
                </div>

                <div id="metric-change-container">
                    <h3>Trends</h3>
                    {% for trend in metric_changes %}
                        <p>{{trend.metric|capitalise_split_words}} : (%) {{trend.change}}</p>
                    {% endfor %}
                </div>
            </div>
            <div id="entries-items-container">
                <h3>Entries</h3>
                <div id="entries-items-loop-container">
                {% for entry in item_entries %}
                <div>
                    <form class="entry-item-container" action="{% url 'view_POST' view %}" method="post">
                        {% csrf_token %}

                        <input type="hidden" name="form-type" value="entry-edit">
                        <input type="hidden" name="entry_id" value="{{entry.entry_id}}">
                        <input type="hidden" name="item_id" value="{{item_info.item_id}}">

                        <div class="entry-counter">
                            <button type="submit" name="remove-entry" value="remove!">Remove</button>
                            <p>{{item_entries|index:entry}}</p>
                        </div>
                        
                        <div class="main-input-set">
                            <div class="label-input-container">
                                <label for="date_added">Date Added : </label>
                                <input onchange="input_validation(this, 'date')" class="date-price-input" type="text" value="{{entry.date_added|none_to_empty_string}}" name="date_added" id="">
                            </div>

                            <div class="label-input-container">
                                <label for="bought_for">Bought For : </label>
                                <input onchange="input_validation(this, 'price')" class="date-price-input" type="text" name="bought_for" value="{{entry.bought_for|none_to_zero}}">
                            </div>
                        </div>

                        <div class="main-input-set">
                            <div class="label-input-container">
                                <label for="date_sold">Date Sold : </label>
                                <input onchange="input_validation(this, 'date')" class="date-price-input" type="text" value="{{entry.date_sold|none_to_empty_string}}" name="date_sold" id="">
                            </div>

                            <div class="label-input-container">
                                <label for="sold_for">Sold For : </label>
                                <input onchange="input_validation(this, 'price')" class="date-price-input" type="text" name="sold_for" value="{{entry.sold_for|none_to_zero}}">
                            </div>                               
                        </div>

                        <div class="main-input-set notes">
                            <label for="notes">Notes</label>
                            <textarea onchange="this.form.submit()" name="notes" rows="6" cols="30">{{entry.notes|none_to_empty_string}}</textarea>
                        </div>
                    </form>
                    
                    <div class="error-msg-container">
                        <p class="error-msg"></p>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        {% else %}
            <p>No items</p>
        {% endif %}
    </section>
    {% endif %}

</section>

{% endblock%}