h1 {
    text-align: center;
    background-color: none;
    border: none;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 0.85rem;
}

.layers {
    margin: 0 calc(1% + 2rem) 3rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

#container-layer1 {
    margin-bottom: 3rem;
    width: 98%;
    margin-left: 1%;
}

.side-bars {
    max-height: 40rem;
    width: 17%;
    text-align: center;
    border-top: 0.1rem orangered solid;

}

#biggest-trends {
    box-shadow: 0 1rem 1rem 1rem rgb(225,225,225);   
    margin-left: 2rem;
    border-left: 0.1rem orangered solid;
    border-top-left-radius: 1rem;
}

#trending-items-container {
    overflow-y: hidden;
    max-height: 90%;
}

.main-item-container {
    max-width: 14rem;
    text-align: center;
    margin-left: calc((100% - 14rem) / 2);
}

#ads {
    box-shadow: 1rem 1rem 1rem 1rem rgb(225,225,225);   
    margin-right: 2rem;
    border-right: 0.1rem orangered solid;
    border-top-right-radius: 1rem;  
}

#about-panel {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem 0;
}

.about-box {
    border-radius: 1rem;
    width: 46%;
    height: 16rem;
    margin: 2%;
    transition: 0.5s;
    background:  repeating-linear-gradient(
        135deg,
        rgb(238, 126, 85),
        rgb(238, 126, 85) 10px,
        white 10px,
        white 40px
      );
    box-shadow: 0.6rem 0.6rem 0.6rem rgb(225,225,225);
    }

.about-box:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.about-box h3 {
    text-align: center;
    background-color: orangered;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin: 0;
}

#recently-viewed {
    box-shadow: 0 1rem 1rem 1rem rgb(225,225,225);   
    text-align: center;
    padding-bottom: 1rem;
    background-color: whitesmoke;
    padding: 0;
}

#recently-viewed h3 {
    padding-top: 1rem;
}

#recently-viewed-items-container {
    display: flex;
    overflow-x: scroll;
}

.main-item-container-recently-viewed {
    margin: 0 1rem 0;
}

.layer3-containers {
    box-shadow: 0 1rem 1rem 1rem rgb(225,225,225);   
    width:45%;
    height: 60rem;
    overflow: hidden;
    text-align: center; 
}

.items-container {
    display: flex;
    flex-direction: column;
}

.main-item-container-layer3 {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.info-container {
    padding-top: 1rem;
    margin-left: 1rem;
}

.view-count {
    width: 10rem;
}

#new-items {
    width: 45%;
}