.layers {
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

#main-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 1rem 1rem rgb(225,225,225); 
    padding: 1rem;
}

.item-container {
    height: 20rem;
}

#info-overview {
    margin-left: 2rem;
    display: flex;
    justify-content: space-around;
    width: 80%;
    box-shadow: 0 0 1rem 1rem rgb(225,225,225); 
}

.info-block {
    width: 30.5%;
    height: 20rem;
    margin: 1rem;
    background-color: white;
    border-radius: 1rem;
}

.info-block h3 {
    text-align: center;
    border-bottom: 0.1rem orangered solid;
    border-top: 0.1rem orangered solid;
    padding: 0.5rem 0 0.5rem;
}

.info-block p {
    text-align: center;
}

#chart-form-container {
    box-shadow: 0 0 1rem 1rem rgb(225,225,225); 
    width: 97%;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    border: 0.1rem orangered solid;
}

#chart-container {
    background-color: white;
    margin: 1rem;
    height: 100%;
}

#chart-container .price-trend {
    width: 50rem;
    box-shadow: 0 0 1rem 1rem rgb(225,225,225); 
    border-radius: 2rem;
    padding: 1rem;
}

.item_canvas {
    margin-top: 0;
    border-radius: 2rem;
}

#in-collections-forms-container {
    display: flex;
    flex-direction: column;
}

#in-collections {
    height: 7rem;
    box-shadow: 0 0 1rem 1rem rgb(225,225,225); 
    margin:2rem 0 2rem;
}

#in-collections p {
    margin-left: 1.5rem;
}

#form-container {
    box-shadow: 0 0 1rem 1rem rgb(225,225,225); 
    width: 18rem;
    height: 16rem;
    margin-top: 1rem;
}

#form-container h3 {
    text-align: center;
    margin-bottom: 1.5rem;
}

#add-to-watchlist {
    margin: 1rem 2.5rem 0;
    border-top: 0.05rem black solid;
    padding-top: 1rem;

}

#add-to-portfolio {
    margin: 1rem 2.5rem 0;
    width: 60%;
}

#add-to-portfolio .label-input-container {
    margin-bottom: 0.8rem;
}

#form-container label {
    width:180px;
    text-align:left;
    padding-right:10px;
}

#form-container select, input {
    text-align: center;
    float: right;
    width: 4rem;
    padding: 0;
}

#form-container select {
    width: 4.2rem;
}

#error-msg {
    text-align: center;

}