#main-forms-container {
    display: flex;
    margin-bottom: 0.5rem;
}

#page-buttons-form {
    margin-left: 3rem;
}

#page-buttons-form  {
    display: flex;
}

#page-buttons-form input {
    margin: 0.2rem;
    width: 1.8rem;
    text-align: center;
}

#dropdown-forms {
    display: flex;
    padding-left: 10rem;
}

form label {
    font-style: italic;
}

select {
    border-radius: 0.7rem;
    height: 1.3rem;
}

#sort-form {
    width: 14rem;
    margin-right: 1rem;
}