#left-side-column {
    float: left;
    width: 24%;
    border: 0.2rem black solid;
}

    .header-container {
        text-align: center;
        height: 4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        margin-bottom: 1rem;
    }

    .stat-container {
        margin-bottom: 1rem;
        text-align: start;
    }

    .stat-container p {
        margin-left: 3rem;
        font-size: 0.85rem;
    }

    #portfolio-stats h1 {
        background-color: orangered;
        border-bottom: 0.2rem black solid;
    }

    .stat-container h2 {
        margin-left: 1rem;
        font-size: medium;
        text-decoration: underline;
    }

    #add-to-portfolio-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-bottom: 0.2rem black solid;
    }


        .input-container  {
            display: flex;
            flex-direction: row;
            justify-content:flex-end;
            margin-bottom: 0.3rem;
            margin-right: 3rem;
            padding: 0.1rem;
        }

        #add-to-portfolio-container .input-container input, select {
            width: 8rem;
            height: 1.45rem;
            margin: 2px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-left: 3rem;
        }

        #add-to-portfolio-container form input[type=submit] {
            background-color: rgb(26, 153, 26);
            
        }

    #porfolio-item-sort {
        background-color: blue;
    }


#right-side-column {
    width: 74%;
    float: right;
    border: 0.2rem black solid;
}

#portfolio-items-header {
    text-align: center;
    align-items: center;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    height: 7.1rem;
    width: auto;
    border-bottom: 0.2rem black solid;

}

    #portfolio-items-header h1 {
        margin: 0;
        margin-top: 0.4rem;
        padding: 0.8rem;
        border-bottom: 0.1rem black solid;
        width: 30%;
    }

    #page-form-container {
        margin-top: 1rem;
        margin-bottom: 0.85rem;
        font-size: 0.65rem;

    }

    #page-from {
        margin: 0;
    }

    #page-form input {
        border-radius: 0.4rem;
        width: 1.6rem;
        background-color: white;
    }

    #view-options-container {
        align-self: flex-start;
        margin-left: 5rem;
        margin-bottom: 0.6rem;
    }

    #view-options-container a {
        position: relative;
        bottom: 0.5rem;
        background-color: rgb(233, 81, 25);
        text-decoration: none;
        color: black;
        padding: 1.5rem 1.5rem 0 1.5rem ;
        border-left: 0.2rem black solid;
        border-right: 0.2rem black solid;
        border-top: 0.2rem black solid;
        
    }

#portfolio-items-container {
    text-align: center;
    flex: auto;
    justify-content:space-between;
    flex-wrap: wrap;
    height: 78rem;

}

    .item {
        border-radius: 0.2rem;
        width: 22%;
        display: inline-block;
        vertical-align: top;
        height: 18rem;
        border:0.2rem orangered solid;
        margin: 0.4rem;
        position: relative;
        min-width: 14%;

    }

    @media only screen and (min-width:1900px) {
        .item {
            width: 18%;
        }
    }

    @media only screen and (max-width:1000px) {
        .item {
            width: 47%;
        }
    }

        .item-header {
            height: 3rem;
            margin: 0; 
        }

        .item-header h2 {
            font-size: 0.74rem;
            display: -webkit-box;
            max-width: 100%;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

        }


        .item-header h3 {
            font-size: 0.72rem;
        }

        .condition-quantity-container {
            height: 2rem;
            background-color:skyblue;
            font-size: 0.68rem;
            margin: 0; 
            border-top: 0.2rem orangered solid;
            border-bottom: 0.2rem orangered solid;
            margin-bottom: 1rem;
            display: flex;
            align-items:center;
            justify-content:center;
           
        }

        .item-body {
            margin: 0;
            padding: 0;
        }

        .item-body img {
            height: 100%;
            width: 3.7rem;
            border: 0.12rem black solid ;
            /* box-shadow: orangered 0.2rem 0.2rem 0.2rem; */
        }

        .item-body .delete-button-container form button {
            color: white;
            background-color: red;
            width: 1.2rem;
            text-align: center;
        }

        .item-body .delete-button-container form button:hover {
            background-color: rgb(187, 45, 45);
        }

        .item-body .delete-button-container form input[type=number] {
            width: 2rem;
            border-radius: 0;
            border-color: black;
            margin: 0;
        }

        .price-details {
            font-size: small;
        }

        .price-details table {
            border-top: 0.2rem orangered solid;
            width: 100%;
            height: 3rem;
            position: absolute;
            bottom: 0;
        }

        .price-details tr td, th {
            vertical-align: baseline;
            border: 0.05rem black solid;
        }

#portfolio-graph {
    min-width: 100%;
    height: 35rem;
}