body {
    background-color:whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: aqua;
    height: 8rem;
    margin-bottom: 1.6rem;
}

nav h1 {
    display: inline-block;
    width: fit-content;
    margin-left: 4rem;
    text-shadow: 0.035rem 0.035rem 0.15rem blue;
    text-decoration:underline;
}

nav ul {
    display: inline-block;
    text-align: center;
    /* width: fit-content; */
}

nav ul li {
    display: inline-block;
    padding: 1.5rem;
    border: 0.2rem black solid;
    border-radius: 0.4rem;
    margin: 0.4rem;
    box-shadow: 0.12rem 0.12rem 0.2rem blue;
    width: 6rem;
}

nav ul li:hover {
    background-color: rgb(31, 228, 228);
    box-shadow: 0.12rem 0.12rem 0.8rem blue;
}

nav ul li a {
    color: black;
    padding: 1rem;
    text-decoration: none;
}

#minifig-profile, #general-info {
    background-color: rgb(115, 211, 243);
    height: 20rem;
    text-align: center;
    border: 0.2rem black solid;
    margin-bottom: 2rem;
}

#tophalf-container {
    height: 21rem;
}

#minifig-profile {
    width: 20%;
    float: left;
}

    #minifig-name {
        font-size: medium;
        margin: auto;
        background-color: aqua;
        padding: 0.7rem;
        height: fit-content;
        border-bottom: 0.2rem black solid;
    }

    #minifig-id {
        margin: auto;
        padding-top: 1.2rem;
        padding-bottom: 0.2rem;
    }

    #minifig-image {
        height: 9rem;
        width: auto;
        margin-top: 0.8rem;
        border: 0.2rem black solid;
        border-radius: 0.4rem;
        box-shadow: 0.14rem 0.12rem blue;
    }

#general-info {
    width: 78%;
    float: right;
}

    .general-info-tabs {
        box-shadow: 0.24rem 0.2rem blue;
        display: inline-block;
        width: 31%;
        border: 0.2rem black solid;
        height: 18rem;
        margin-top: 1rem;
        background-color: aqua;
        border-radius: 0.4rem;
    }

    #test {
        margin-left: 10px;
        float: left;
    }

    #current-price-tab {

    }

    #info-tab {
        margin-right: 10px;
        float: right;
    }

#price-trends {
    margin-top: 1rem;
    width: 100%;
    height: 30rem;
    background-color: rgb(115, 211, 243);
    border: 0.2rem black solid;
}

table {
    text-align: center;
    background-color: rgb(245, 245, 220);
    width: 800px;
}

tr {
    background-color: rgb(225, 225, 200);
}

td {
    padding: 5px;
}

table tr th {
    background-color: rgb(185, 185, 160);
}

/* border padding margin */